@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Regular.ttf");
    font-weight: 400,
}

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Bold.ttf");
    font-weight: 700,
}

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Medium.ttf");
    font-weight: 500,
}

* {
    font-family: Roboto;
}
.restDay{
    display: flex;
    margin-left: 5px;
    align-items: center;
    font-size: 14px;
    b{
        padding-left: 4px;
        padding-right: 4px;
    }
}
.combo-text{
    .select2{
        width: 100%!important;
    }
}
//global component
hr {
    border-top: 2px solid #F4F4F4;
}

#contact {
    padding: 30px;

    .no-search .select2-search {
        display: none
    }

    .pagination.justify-content-end {

        .select2 {
            padding-top: 5px;
        }

        .paginate-selected {
            color: white !important;
            background-color: #ff8f1c;
        }

        .pageNumberIdx {
            display: flex;
            list-style-type: none;
            padding: 0;
        }

        .page-item:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        #previousPage {
            border-right: none;
            padding: 6px;
        }

        #nextPage {
            padding: 6px;
        }

        .page-item {
            .page-link {
                border: none;
                font-size: 14px;
                color: #757575;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    #linkIndicator, #link {
        border: none;
        font-size: 12px;
        color: #757575;
        background: none;
        pointer-events: none;
        cursor: default;
    }

    #link {
        padding-right: 5px;
    }
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    background-image: url('../../img/loading.gif');
    background-repeat: no-repeat;
    z-index: 99999999999;
    background-position: center;
    background-size: 6%;
}

.request_pending {
    color: #FFC600 !important;
}

.request_create {
    color: #757575 !important;
}

.request_process {
    color: #FF8F1C !important;
}

.request_deny {
    color: #E53935 !important;
}

.request_sent {
    color: #1CC6FF !important;
}

.form-group {

    input[type="text"].error {
        border: 1px solid #E53935;
    }

    input[type="date"].error {
        border: 1px solid #E53935;
    }

    textarea.error {
        border: 1px solid #E53935;
    }
}

.error {
    color: #E53935;
    width: 100%;
}

#window {
    border-radius: 12px;
}

.contact-card {
    padding: 15px;
    border-radius: 12px;
    border: .5px solid #BDBDBD;
    margin-bottom: 15px;


    &:hover {
        cursor: pointer;
        background: #F0F4FF !important;
    }


    .contact-image {
        img {
            max-width: 100%;
        }

        .info-id {
            padding-top: 0;
            font-size: 14px;
            color: #757575;
            margin-top: -6px;
            margin-bottom: 4px;
        }
    }

    .contact-info {

        .title {
            font-weight: bold;
            font-size: 14px;
            color: #FF8F1C;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        div {
            font-size: 14px;
            padding-top: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .info-id {
            font-size: 12px;
        }
    }

    .info-tel {
        img {
            margin-right: 10px;
        }

        font-size: 14px;
        margin-top: 12px;
        padding-bottom: 12px;
        border-bottom: 0.5px solid #F4F4F4;
    }

    .info-email {
        img {
            margin-right: 10px;
        }

        padding-top: 8px;
        font-size: 14px;
    }
}

.k-widget.k-datepicker {
    .k-i-calendar:before {
        top: 4px;
    }
}

.k-widget.k-window {
    .k-window-titlebar {
        border-radius: 12px;
        background: white;
        border: none;
        margin-top: -32px;
        padding: 0;
    }

    .k-window-actions {
        position: absolute;
        top: 24px;
        right: 20px;

        a {
            width: 24px;
            height: 24px;
        }
    }

    .k-window-titlebar.k-window-action {
        width: 24px;
        height: 24px;
    }

    .k-icon.k-i-close {
        font-size: 14px;
        border: 1px solid black;
        border-radius: 50%;
        padding: 11px;
        height: 24px;
        width: 24px;
    }

    .k-window-title {
        font-weight: bold;
        padding-top: 16px;
        padding-left: 24px;
    }

    border-radius: 12px;

    .k-window-titlebar.k-header {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-color: white;
        background: white;
    }
}

.search-form {
    .k-icon, .k-tool-icon {
        width: 50px;
        height: 40px;
    }
}

.k-picker-wrap.k-state-default {
    .k-select {
        border-left: none;
        width: 40px;

        .k-icon.k-i-calendar:before {
            color: transparent;
            opacity: 1;
            display: block;
            background: url(../../img/calendar.png) no-repeat;
            width: 30px;
            height: 30px;
            left: -10px;
            border-width: thin;
        }
    }
}

.popup-screen {
    padding-top: 100px;
    width: 100%;
    margin: 0;
    padding: 0;

    .grid .k-grid-content td {
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
}


.task {
    .form-group {
        label {
            min-width: 65px;
        }
    }



    .select2.select2-container {
        width: 160px !important;
    }
}


.btn.btn-flat {
    border-radius: 4px;
}

.k-filtercell {
    .k-icon.k-i-calendar {
        font-size: 40px;
        top: 0;
        margin-top: -5px;
    }
}

#histaffTreeview {
    padding: 30px;

    li {
        .k-in {
            font-size: 12px;
            color: #757575;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.ml-auto direction {
    height: 40px;
}

.popup-cover {

    .datetimepicker-input {
        .k-icon, .k-tool-icon {
            width: 50px;
            height: 40px;
        }

        .k-state-disabled {
            .k-icon, .k-tool-icon {
                width: 32px;
            }
        }
    }

    .input-group-append.number {
        .input-group-text {
            background: #F4F4F4;
        }
    }

    .k-grid-header .k-icon:before {
        top: 0;
    }

    .confirm-message {
        padding: 24px;
        color: #757575;
    }

    .confirm-button {
        position: fixed;
        bottom: 0;
        padding: 12px;
        width: 100%;
        background: #F4F4F4;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        button {
            float: right;
        }

        .selected {
            width: 100px;
            height: 40px;
            font-size: 14px;
            padding: 0;
            margin-right: 12px;
        }

        .btn-outline {
            width: 100px;
            height: 40px;
            font-size: 14px;
        }
    }


    .bot-form {
        padding-top: 16px;
        margin-bottom: 30px;
        overflow: auto;
    }

    .k-widget.datetimepicker-input {
        width: 100%;

        input[type=text] {
            height: 40px;
            border-radius: 4px;
            border: .5px solid #BDBDBD;
        }
    }

    input[type=number] {
        height: 40px;
        border: .5px solid #BDBDBD;
    }

    .btn-blur {
        width: 150px;
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 4px;
        color: #757575;
        height: 40px;
        padding: 0;
        margin-left: 0;
        margin-right: 22px !important;
    }

    .latework {
        height: 90vh;
        overflow: auto;

        .btn-blur {
            width: 150px;
            background: #FFFFFF;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 4px;
            color: #757575;
            height: 40px;
            padding: 0;
            margin-left: 0;
            margin-right: 22px !important;
        }
    }


    .selected {
        width: 150px;
        margin-right: 24px;
        height: 40px;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.k-picker-wrap {
    padding-right: 0;
}

button:focus {
    outline: none
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 10px 0;
    padding-left: 7px;
    padding-right: 7px;

    .form-group {
        padding-left: 30px;

        label {
            font-size: 14px;
            font-weight: normal;
        }

        input[type="date"],
        select {
            padding: 8px;
            background: #ffffff;
            border: 0.5px solid #bdbdbd;
            box-sizing: border-box;
            border-radius: 4px;
            max-width: 160px;
            outline: none;
        }

        input[type="text"] {
            padding: 8px;
            height: 40px;
            box-sizing: border-box;
            border-radius: 4px;
            outline: none;
            border: 0.5px solid #bdbdbd;
            font-size: 14px;
            text-indent: 0px;
        }
    }



    button {
        min-width: 120px;
        border-radius: 4px;
        height: 40px;
        border: 0.5px solid #bdbdbd;
        outline: none;
    }
}

@media screen and (max-width: 1300px) {
    .user-profile {
        margin-bottom: 85px;
    }
}

.k-i-clock:before {
    content: "\e107";
    font-size: 21px;
    left: -10px;
}

.k-state-disabled {
    .k-i-clock:before {
        left: 0;
    }
}

.k-picker-wrap.k-state-default {
    border-radius: 4px !important;
    background: 0;
}

.background-cover {
    padding: 16px 9px;
    padding-bottom: 0;

    .form-toggle-process {
        .datetimepicker-input {
            width: 100%;
        }

        .form-group {
            display: block;
            padding-left: 0;
        }



        input[type=text] {
            height: 40px;
            border: 1px solid #BDBDBD;
            border-radius: 4px;
        }

        .container-fluid {
            padding: 0;

            .col-md-2 {
                img {
                    width: 100%;
                }
            }
        }
    }

    .button-group {
        padding: 20px 0;


        button {
            font-size: 14px;
        }
    }

    .form-toggle-process.profile {
        .select2.select2-container {
            width: 100% !important;
        }
    }
}

.k-state-disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.contact-search {

    .search-form {
        .form-group {
            input {
                min-width: 410px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: none;
            }

            margin-bottom: 0;
        }

        button {
            margin-left: 24px;
            color: #1b435a;
            background: #F0F4FF;
            border: 1px solid #1b435a;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 8px 10px;
            font-size: 14px;
            width: 120px;
            outline: none;
        }
    }

    span {
        background: white;
        cursor: pointer;
    }

    .fa-search:before {
        content: "";
        background-image: url(../../img/search.png);
        background-position: center;
        width: 25px;
        height: 25px;
    }
}
//css cho label kèm checkbox
.background-cover {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    min-height: 400px;
}
//end global component
.main-sidebar.sidebar-dark-primary {
    background: #1B435A;

    .nav-link[data-widget="pushmenu"] {
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 21px;
        padding-bottom: 40px;
        padding-top: 16px;
    }
}

.content-wrapper .bootstrap-datetimepicker-widget table td.day {
    height: 15px !important;
    line-height: 15px !important;
    width: 15px !important;
}

.auth-screen {
    background-image: url("../../img/background.png");
    background-size: cover;
    background-position: top;
    padding-top: 100px;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 950px;
    max-height: 1200px;
    min-height: 650px;

    .auth-container {
        margin-top: 100px !important;
        height: 500px;
    }

    .form-group {
        padding: 0;
    }

    .select2.select2-container.select2-container--default {
        float: left;
        padding-top: 10px;
        width: 120px !important;
        text-align: left;
    }
}

.navigation {
    display: flex;
    align-items: center;
    padding-bottom: 12px;


    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: #212121;
        margin-bottom: 0;
    }

    #toolbar {
        margin-left: auto;
        display: flex;


        button {
            border-radius: 4px;
            font-size: 14px;
            padding: 7px 32px;
            font-size: 14px;
            margin-right: 0 !important;
            margin-left: 7px;
        }

        a {
            cursor: pointer;

            &:hover {
                background-color: #F0F4FF;
            }
        }
    }
}



.table-detail {
    display: block;
    border: 0.5px solid #BDBDBD;
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    border-collapse: initial;
    margin-bottom: 16px;

    td {
        max-width: 200px;
        width: 200px;

        .select2 {
            width: 100% !important;
        }
    }

    .table-borderless {
        width: 100%;
        background: #ffffff;

        thead {
            tr {
                th {
                    color: #757575;
                    font-size: 14px;
                    border-bottom: 0.5px solid #bdbdbd;
                    font-weight: normal;
                }
            }
        }

        tbody {
            tr {
                td {
                    select {
                        min-width: 350px;
                        background: #ffffff;
                        border: 0.5px solid #bdbdbd;
                        box-sizing: border-box;
                        border-radius: 4px;
                        padding: 5px;
                        margin-right: 40px;
                    }

                    p {
                        min-width: 100px;
                        padding-top: 18px;
                    }
                }
            }
        }
    }
}

.fa-asterisk:before {
    content: "\f069";
    font-size: 7px;
    color: red;
    position: absolute;
    top: 8px;
}

.timeapprove-popup {
    label {
        width: 100px;
    }

    .select2, input[type=text] {
        width: 85% !important;
    }
}

.form-approve {
    .k-master-row{
        height: 40px;
    } .ml-auto.direction {
        height: 40px;
    }

    .search-form {
        .form-group {
            label {
                width: 100px;
            }
        }
    }

    .direction__pending {

        div.Pending {
            width: 60px;
            display: flex;
            vertical-align: middle;
            align-items: center;
            height: 30px;
        }
    }

    .direction__sent {
        div.Approved {
            width: 60px;
            height: 30px;
        }
    }

    .Approved {
        background: greenyellow;

        label {
            font-size: 14px;
            vertical-align: middle;
            padding-left: 2px;
        }

        input {
            display: none;
        }
    }

    .Pending {
        background: yellow;

        label {
            padding-left: 2px;
            font-size: 14px;
            vertical-align: middle;
        }
    }
}

.form-control.k-widget {
    width: 100%;
}

iframe {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.edit_icon_grid {
    width: 19px;
    height: 19px;
}

.k-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #757575;
}

.wrapper {
    min-width: 1280px;
    overflow: auto;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #f0f4ff !important;
    color: black !important;
}

.content-wrapper {
    background-image: url("../../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    .content {
        padding: 0 30px;

        .employee-org {
            background-color: white;
            border-radius: 12px;

            .select2-selection.select2-selection--single {
                width: 64px;
            }

            .employee-treeview {
                min-width: 300px;
            }

            .employee-card {
                width: 100%;
            }

            .select2 {
                height: 24px;
                align-items: center;
                display: flex;
            }

            .select2-container .selection .select2-selection--single {
                height: auto;
            }

            .select2-container .select2-selection--single .select2-selection__rendered {
                height: 24px;
                line-height: 26.5px;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 14px;
            }

            .col-lg-3 {
                border-right: .5px solid #BDBDBD;
            }

            .col-md-10 {
                margin-left: auto;
                margin-right: auto;
            }
        }


        .time-register {
            background: #ffffff;
            border-radius: 12px;
            padding: 16px 9px;
            padding-bottom: 0;

            .k-picker-wrap.k-state-default {
                width: 160px;
                max-width: 160px;
            }

            .k-grid-header {
                padding-right: 8px !important;
            }

            .k-grid-header-wrap.k-auto-scrollable {



                table {
                    border-top: .5px solid #BDBDBD;

                    thead {
                        tr {
                            th:last-child {
                                padding: 3px 10px;
                            }
                        }
                    }
                }
            }

            .search-form {
                button {
                    color: #1b435a;
                    background: #F0F4FF;
                    border: 1px solid #1b435a;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 8px 10px;
                    font-size: 14px;
                    width: 120px;
                    outline: none;

                    &:hover {
                        background: #f0f4ff80;
                    }
                }
            }

            .form-group {
                padding-left: 0;
                padding-right: 30px;
            }

            .search-form {
                label {
                    margin-right: 12px;
                    white-space: nowrap;
                    min-width: 93px;
                    text-align: right;
                }
            }

            .select2 {
                min-width: 160px;
                width: 160px;
            }

            #grid {
                thead {
                    tr {
                        th {
                            color: #757575
                        }
                    }
                }
            }
        }

        .navigation {
            .select2.select2-container {
                border: none;
                background: #f4f4f4;
                border-radius: 4px;
                padding: 4px 32px;
                font-size: 14px;
                color: white;
                background: #FF8F1C;
                margin-right: 0;
                margin-left: 7px;


                .select2-selection {
                    background: #FF8F1C;
                    border: none;
                    color: white;

                    .select2-selection__rendered {
                        color: white;
                    }

                    .select2-selection__arrow {
                        display: none;
                    }
                }
            }
        }
    }

    #myTab {
        margin-bottom: 1px;
    }

    .nav.nav-tabs {
        border-bottom: none;

        .nav-item {
            a {
                background: rgba(8, 134, 207, 0.5);
                border-radius: 12px 12px 0px 0px;
                padding: 12.5px 32px;
                color: white;
                margin-right: 5px;
                border-bottom: none;
            }

            .active {
                background: #ffffff;
                padding: 12.5px 32px;
                border-radius: 12px 12px 0px 0px;
                color: black;
                border-bottom: none;
            }
        }
    }

    .tab-content {
        #contact {
            padding-top: 0;
        }

        .navigation {
            h3 {
                font-weight: bold;
            }
        }

        table {
            border-bottom: .5px solid #BDBDBD;

            td {
                border-bottom: .5px solid #BDBDBD;
            }

            tr:last-child {
                td {
                    border-bottom: none;
                }
            }
        }

        .k-grid-header {
            border-bottom: none;

            th {
                text-align: left;
                font-size: 14px;
                border-top: none;
            }
        }

        tbody {
            tr {
                td {
                    font-size: 14px;
                }
            }
        }

        .k-grid.table {
            border-collapse: initial;
        }

        .grid {

            thead {
                tr {

                    th {
                        height: 40px;
                        color: #757575;
                        border-bottom: .5px solid #BDBDBD;
                    }
                }
            }

            tbody {
                td {
                    height: 40px;
                    border-color: transparent;
                    border-bottom: .5px solid #BDBDBD;
                }

                tr:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }

        .tab-pane.fade.show.active {
            background: #ffffff;
            border-radius: 0px 12px 12px 12px;
            padding: 0 30px;
            padding-bottom: 40px;
        }
    }


    .employee_overview {
        .left-table, .right-table {
            width: 320px;
        }

        .left-table {
            margin-right: 30px;
        }

        p, .content-right {
            font-size: 14px;
        }

        .table-content {
            display: flex;
            align-items: center;
            padding: 7px 0;
            border-bottom: 1px solid #F4F4F4;

            .content-left {
                width: 100px;
            }

            .content-right {
                width: 150px;
                padding-left: 16px;
            }
        }

        .employee_details {
            margin-top: 8px;
            margin-left: 40px;

            .info-button {
                width: 100%;

                button {
                    max-width: 200px;
                    width: 200px;
                    font-size: 14px;
                    height: 40px;
                }
            }
        }

        .employee-avatar {

            img {
                max-width: 160px;
                max-height: 213px;
                border-radius: 12px;
                width: 160px;
                height: 213px;
            }
        }

        display: flex;
        flex-wrap: wrap;

        .table {
            border-bottom: .5px solid #BDBDBD;

            th {
                min-width: 100px;
            }
        }

        .employee-information {
            width: 100%;
            display: flex;

            .table {
                tr:hover {
                    tr, td {
                        background: white;
                    }
                }
            }

            .employee_name {
                font-weight: 500;
                font-size: 20px;
                height: 10px;
                color: #b35b00;
                margin-bottom: 0;
            }

            thead {
                display: none;
            }

            tbody {
                tr {
                    td {
                        border-top: none;
                    }
                }
            }

            p {
                margin-bottom: 0;
                color: #757575;
            }

            button {
                color: #1b435a;
                background: #ffffff;
                border: 1px solid #1b435a;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 5px 15px;

                &:hover {
                    background: #F0F4FF;
                }
            }
        }
    }

    .employee_banking {

        .col-md-3 {
            align-items: center;
            display: flex;
        }
    }

    .tab-pane {

        .info:not(:first-child) {
            .row {
                flex-wrap: nowrap;
            }
        }

        .info {
            padding-top: 32px;

            .row {
                .col-md-3, .col-md-9 {
                    border-bottom: .5px solid #BDBDBD;

                    label {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        align-items: center;
                        color: #757575;
                        padding: 0px 0px;
                        max-height: 500px;
                        font-size: 14px;
                    }

                    .table-info {
                        background-color: white;
                        font-size: 14px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .table_title {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 8px;
        color: #b35b00;
        font-weight: bold;
    }

    .table {
        text-align: left;

        th {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            align-items: center;
            color: #757575;
            padding: 0px 0px;
            max-height: 500px;
            font-size: 14px;
        }

        td {
            padding: 10px 0px;
            font-size: 14px;
        }
    }



    .table.table-horizontal {
        th,
        td {
            padding-top: 10px;
        }
    }

    .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 250px !important;
        height: 286px !important;
    }

    .bootstrap-datetimepicker-widget table td.day {
        height: 25px;
        line-height: 25px;
        width: 25px;
    }

    .overview {
        padding: 30px;
        background-color: white;
        border-radius: 12px;

        .select2.select2-container.select2-container--default {
            width: 300px !important;
        }

        .statistic {
            .row {
                .col-lg-4 {
                    .col-lg-12 {
                        padding-bottom: 12px;
                        border-bottom: 1px solid #bdbdbd;
                        padding-top: 40px;
                        padding-left: 30px;
                        padding-right: 30px;

                        p {
                            font-size: 16px;
                            color: #757575;
                        }

                        .result {
                            display: flex;
                            align-items: center;

                            .sub {
                                font-size: 20px;
                                padding-left: 12px;
                            }
                        }
                    }
                }
            }
        }

        .card {
            box-shadow: none;

            .card-body {
                padding: 0 !important;

                .chart-title {
                    padding: 24px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

.footer {
    display: flex;
    margin-top: 16px;
    padding-bottom: 20px;

    p {
        color: #757575;
        margin-left: auto;
    }
}


.main-header.navbar {
    .navbar-nav {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 30px;

        .nav-item {
            .breadcrumb-title {
                padding-left: 48px;
                font-size: 24px;
                line-height: 34px;
                color: #757575;
                font-weight: normal;

                p {
                    display: initial;
                    padding-right: 8px;

                    .far.fa-arrow-alt-circle-left {
                        padding-right: 8px;
                    }
                }
            }
        }
    }

    .nav-item:last-child {
        margin-left: auto;

        .user-info {
            .header-info {
                margin-right: 12px;

                p {
                    font-size: 14px;
                    color: #757575;
                }

                text-align: right;
                line-height: 20px;

                a {
                    color: #1B435A
                }
            }

            align-items: center;
            display: flex;

            .user-notification {
                padding-right: 40px;
            }
        }

        .image {
            img {
                max-width: 48px;
            }

            display: inherit;
        }
    }
}

.input-validation-error {
    border: 1px solid #E53935 !important;
}

.field-validation-error {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #E53935;
    margin-top: 5px;
}

.btn-form-group {
    padding: 24px 30px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
}

.k-picker-wrap.k-state-default.k-invalid input.k-invalid {
    border: 1px solid #E53935;
}

.latework {
    padding: 0;
    background: white;
    border-radius: 12px;

    .k-numeric-wrap.k-state-default {
        input[type=text] {
            width: 100%;
        }
    }

    .k-formatted-value.form-control.k-input {
        height: 40px;
        border: .5px solid #BDBDBD;
    }

    .form-control.k-input {
        height: 40px;
        border: .5px solid #BDBDBD;
    }

    .top-form {
        padding-top: 30px;
    }

    .container-fluid {
        .col-md-12 {
            padding: 0;
        }
    }

    .btn-form-group {
        padding: 24px 30px;
        padding-top: 15px;
        position: fixed;
        width: 100%;
        bottom: 0;
        background: white;
    }


    input[type=text].disabled {
        width: 100%;
        max-width: 100%;
    }

    .error {
        width: 100%;
    }

    label {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .select2 {
        max-width: 100%;
        min-width: 100%;
        height: 40px;
    }

    .select2-container--default {
        font-size: 14px;

        .selection {
            .select2-selection--single {
                .select2-selection__arrow {
                    top: 1px;

                    b {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .btn-blur {
        margin: 0;
        height: 34px;
    }

    .enable-detail {
        align-items: center;
        padding-bottom: 10px;

        input[type="checkbox"] {
            min-width: 17px;
            min-height: 17px;
            margin-right: 11px;
        }

        input[type="checkbox"]:focus {
            outline: 0;
        }
    }




    .form-group {
        display: inherit;
        padding: 0 30px;
    }

    .form-group:first-child {
        padding-left: 30px;
    }

    .table-detail {
        display: none;
        max-height: 200px;
        overflow-y: auto;



        td {
            .input-group.time, input[type=text] {
                width: 70%;
            }
        }
    }

    .table-detail::-webkit-scrollbar {
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    .table-detail::-webkit-scrollbar-thumb {
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    .table-detail::-webkit-scrollbar-track {
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }
}

#orgchart {
    svg {
        g {
            rect {
                &:hover {
                    fill: #F0F4FF;
                    cursor: pointer;
                }
            }
        }

        g[control-node-menu-id] {
            transform: matrix(1, 0, 0, 1, 225, 165);

            circle {
                fill: #757575;
                transform: scale(1.2, 1.2);
            }
        }
    }

    .chart-menu {
        cursor: pointer;

        div {
            cursor: pointer;

            svg {
                display: none;
            }

            span {
                font-size: 14px;
            }
        }

        div:first-child {
            border-top: 1px solid rgb(215, 215, 215);
        }
    }
}

.hamburger-toggle {
    display: none;
}



@media screen and (max-width: 991px) {
    .hamburger-toggle {
        display: block;
    }

    .header-info {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .breadcrumb-title {
        padding-left: 20px !important;
        font-size: 18px !important;
        line-height: 40px;
        color: #757575;
        font-weight: normal;

        p {
            display: initial;
            padding-right: 8px;

            .far.fa-arrow-alt-circle-left {
                padding-right: 8px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .navbar-nav {
        padding-left: 0 !important;
    }

    .user-notification {
        display: none;
    }
}
