<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file type="log4net.Util.PatternString" value="../logs/%date{yyyyMMdd}/general/%date{yyyyMMdd}.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="2MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%thread] %newline %message %newline"/>
    </layout>
  </appender>

  <appender name="LogInputAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file type="log4net.Util.PatternString" value="../logs/%date{yyyyMMdd}/http/http_%date{yyyyMMdd}.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="2MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %newline %message %newline"/>
    </layout>
  </appender>

  <appender name="LogAuthorizeAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file type="log4net.Util.PatternString" value="../logs/%date{yyyyMMdd}/auth/auth_%date{yyyyMMdd}.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="2MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %newline %message %newline"/>
    </layout>
  </appender>

  <appender name="LogErrorAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file type="log4net.Util.PatternString" value="../logs/%date{yyyyMMdd}/error/error_%date{yyyyMMdd}.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="2MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %newline %message %newline"/>
    </layout>
  </appender>

  <logger name="LogGeneralFile">
    <level value="ALL"/>
    <appender-ref ref="LogFileAppender"/>
  </logger>
  <logger name="LogInputFile">
    <level value="ALL" />
    <appender-ref ref="LogInputAppender" />
  </logger>
  <logger name="LogAuthorizeFile">
    <level value="ALL" />
    <appender-ref ref="LogAuthorizeAppender" />
  </logger>
  <logger name="LogErrorFile">
    <level value="ALL" />
    <appender-ref ref="LogErrorAppender" />
  </logger>
</log4net>